.ty-nav-language {
    @include center-items;
    .ty-nav-language-portlet {
        margin-left: 5px;
    }
    .portlet-language {
        .btn-secondary.dropdown-toggle {
            background-color: transparent;
            border: none;
            width: 50px;
            margin-bottom: 5px;
        }

        .inline-item {
            display: none;
        }

        .btn-section {
            color: $navbar-items-font-color;
            font-size: $navbar-menu-items-font-size;
            font-family: $navbar-font-family;
            font-weight: $navbar-font-weight;
            width: 50px;
        }

        .portlet-content {
            @include media-breakpoint-down(sm) {
                border-color: transparent;
            }
        }

        .portlet-topper {
            right: 0;
            @include media-breakpoint-down(sm) {
                display:none;
            }
        }
    }
}

.ty-nav-language:hover {
    color: $brand-color;
    .portlet-language {
        .btn-section {
            color: $brand-color;
        }
    }
}