@mixin center-items {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    color: $navbar-items-font-color;
}

@mixin hidden-item {
    @include media-breakpoint-down(lg) {
        display: none;
    }
}