// Navbar font-family
$navbar-font-family: "T1 Body Font";
$navbar-font-weight: 600;

// Navbar items
$navbar-items-font-color: #595d60;
$navbar-items-focus-color: rgba(212, 14, 32, 0.25);

$navbar-margin: 3rem;

//Navbar menu items
$navbar-menu-items-font-size: 0.9rem;


// Navbar right items
$navbar-right-items-font-size: 1.4rem;