.ty-nav-user-personal-bar{
    .portlet-user-personal-bar {
        margin-right: 8px;
        .inline-item {
            color: $navbar-items-font-color;
            font-family: $navbar-font-family;
            font-weight: $navbar-font-weight;
        }
        .dropdown-toggle.btn.btn-unstyled:focus {
            box-shadow: 0 0 0 0.2rem $navbar-items-focus-color
        }
    }

    .portlet-user-personal-bar:hover {
        .inline-item {
            color: $brand-color;
        }
    }

    .sign-in {
        .sign-in.text-default {
            color:$navbar-items-font-color;
            font-weight: $navbar-font-weight;
            .taglib-icon-label {
                margin-left: 3px;
            }
        }

        a.sign-in.text-default:hover {
            text-decoration: none;
            color: $brand-color;
        }
    }
}

#clay_dropdown_portal {
    .dropdown-item {
        font-family: $navbar-font-family;
        font-weight: $navbar-font-weight;
    }
}