.portlet-user-personal-bar {
    margin-right: 8px;
    .inline-item {
        height: 13px;
        color: $navbar-items-font-color;
    }
    .dropdown-toggle.btn.btn-unstyled:focus {
        box-shadow: 0 0 0 0.2rem rgba(212, 14, 32, 0.25);
    }
}

.portlet-user-personal-bar:hover {
    .inline-item {
        color: $brand-color;
    }
}