@import "partials/mixins";
@import "partials/nav_variables";

@import "partials/network";
@import "partials/search";
@import "partials/modal";
@import "partials/navigation_menu";
@import "partials/user_personal_bar";
@import "partials/language";

.ty-nav {
    justify-content: normal;
    .logo {
        margin-left: $navbar-margin;
        @include media-breakpoint-down(md) {
            height: 34px;
            width: 41px;
            margin-right: auto;
        }
        @include media-breakpoint-down(sm) {
            margin-left: 1rem;
        }
        img {
            height: 41px;
            width: 49px;
            margin-bottom: 18px;
            margin-top: 14px;
            @include media-breakpoint-down(md) {
                height: 34px;
                width: 41px;
                margin-top: 0px;
            }
        }
    }

    .navbar-toggler {
        padding: 4px;
        margin: 5px $navbar-margin 8px 4px;
        @include media-breakpoint-down(sm) {
            margin: 5px 1rem 8px 4px;
        }
    }

    .navbar-toggler:hover {
        color: $brand-color;
    }

    .navbar-toggler:focus {
        outline: none;
    }

    .ty-nav-right-items {
        display: flex;
        align-items: baseline;
        justify-content: flex-end;
        margin-right: $navbar-margin;
        margin-top:12px;
        @include media-breakpoint-down(md) {
            margin-right: 0px;
        }
    }
}