@import "partials/mixins";
@import "partials/nav_variables";

@import "partials/network";
@import "partials/search";
@import "partials/navigation_menu";
@import "partials/user_personal_bar";
@import "partials/language";

.ty-nav {
    justify-content: normal;
    .logo {
        margin-left: $navbar-margin;
    }

    .ty-nav-right-items {
        display: flex;
        align-items: baseline;
        justify-content: flex-end;
        margin-right: $navbar-margin;
    }
}