@import "fonts/ty-font.css";
@import "portlet/portlet";
@import "partials/navigation/navigation";

body {
	background-color: white;
}

#wrapper {
	padding-top: 0px;
}

#currentHead {
	display: none;
}