@import "fonts/ty-font.css";
@import "portlet/portlet";
@import "partials/navigation/navigation";
@import "partials/footer/footer.scss";

body {
	background-color: white;
}

#wrapper {
	padding-top: 0px;
}

#currentHead {
	display: none;
}

body *::selection {
	background-color: $brand-color;
}